<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.antivirus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
<!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->
<!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.VIBRATE" />
<!--    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
<!--    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />-->
    <uses-permission android:name="android.permission.CAMERA" />

    <permission
        android:name="BootCompleteReceiver"
        android:protectionLevel="signatureOrSystem" />

    <application
        android:name=".model.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Antivirus">
        <activity
            android:name=".DeepScanActivity"
            android:exported="false" />
        <activity
            android:name=".SignInActivity"
            android:exported="false" />
        <activity
            android:name=".NetworkSetting"
            android:exported="false" />
        <activity
            android:name=".PassCodeSetting"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />

<!--        <service-->
<!--            android:name=".model.GetApplications"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->

        <activity android:name=".MainActivity" />
        <activity
            android:name=".PassCode"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <service-->
<!--            android:name=".AppCheckServices"-->
<!--            android:exported="true" />-->

<!--        <receiver android:name=".ConnectivityReceiver" />-->
<!--        <receiver-->
<!--            android:name=".NewAppInstalledReceiver"-->
<!--            android:exported="true">-->
<!--            <intent-filter android:priority="100">-->
<!--                <action android:name="android.intent.action.PACKAGE_ADDED" />-->
<!--                <action android:name="android.intent.action.PACKAGE_REMOVED" />-->
<!--                <action android:name="android.intent.action.PACKAGE_REPLACED" />-->

<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
<!--        <receiver android:name=".AlarmReceiver" />-->
<!--        <receiver-->
<!--            android:name=".BootCompleteReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true"-->
<!--            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">-->
<!--            <intent-filter android:priority="999">-->
<!--                <action android:name="android.intent.action.BOOT_COMPLETED" />-->
<!--                <action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
<!--            </intent-filter>-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.PACKAGE_RESTARTED" />-->

<!--                <data android:scheme="package" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>